@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded');
body{
  font-family:'Encode Sans Expanded';
  margin:0;
}
.grid-container{
  display:grid;
  grid-template-areas:
  'header header header header header header'
  'works works works works works works'
  'about about about about about about'
  'contact contact contact contact contact contact'
  'footer footer footer footer footer footer';
  grid-template-rows:100vh auto 100vh 100vh 70px;
}
header{
  grid-area:header;
  background:url('../images/hero-area.jpg');
  background-size:cover;
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  width:100%;
  -webkit-transition:all 200ms ease-in;
  -moz-transition:all 200ms ease-in;
  -o-transition:all 200ms ease-in;
  transition:all 200ms ease-in;
}
.menu-btn{
  display:block;
  margin:1em;
  width:36px;
  position:fixed;
  top:0;
  left:0;
  cursor:pointer;
}
.menu-btn:before, .menu-btn:after{
  background-color:#fff;
  content:'';
  display:block;
  height:4px;
  transition:all 200ms ease-in-out;
}
.menu-btn:before{
  box-shadow:0 10px 0 #fff;
  margin-bottom:16px;
}
.wrapper{
  overflow:hidden;
}
nav{
  position:fixed;
  top:0;
  left:0;
  width:250px;
  height:100%;
  margin:0 0 0 -250px;
  -webkit-transition:all 200ms ease-in;
  -moz-transition:all 200ms ease-in;
  -o-transition:all 200ms ease-in;
  transition:all 200ms ease-in;
}
nav ul{
  width:250px;
  height:100%;
  padding:0;
  margin:0;
  list-style:none;
  background:#333;
  overflow:hidden;
}
nav li{
  margin:0;
}
nav a{
  color:grey;
  font-size:24px;
  font-weight:400;
  font-size:1em;
  text-decoration:none;
  display:block;
  padding:12px 12px;
  font-weight:300;
  letter-spacing:2px;
  border-bottom:1px solid #444;
}
nav a:hover{
  /* text-decoration:underline; */
  color:#a6a6a6;
}
label{
  display:block;
  font-weight:700;
  background:transparent;
  width:42px;
  height:42px;
  color:green;
  text-align:center;
  position:fixed;
  line-height:1.1em;
  top:10px;
  left:10px;
  -webkit-transition:all 400ms ease-in;
  -moz-transition:all 400ms ease-in;
  -o-transition:all 400ms ease-in;
  transition:all 400ms ease-in;
  z-index:4;
}
input[type='checkbox']{
  display:none;
}
input[type='checkbox']:checked ~ nav{
  margin:0;
}
input[type='checkbox']:checked ~ label{
  left:260px;
}
input[type='checkbox']:checked ~ header{
  -webkit-transform:translate3d(260px,0,0);
  -moz-transform:translate3d(260px,0,0);
  -o-transform:translate3d(260px,0,0);
  transform:translate3d(260px,0,0);
}
.active:before{
  box-shadow:0 0 0 #fff;
  transform:translateY(10px) rotate(45deg);
}
.active:after{
  transform:translateY(-10px) rotate(-45deg);
}
.site-title{
  position:fixed;
  top:20px;
  right:25px;
  font-size:2em;
  color:#fff;
  transition:.5s ease;
}
.title{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:3.6em;
  color:#fff;
}
.scrolled{
  color:orange;
  font-size:1em;
  top:20px;
  z-index:4;
}
#works{
  grid-area:works;
  background-color:#24252a;
}
.active{
  text-decoration:underline;
  color:#a6a6a6;
}
.image:hover{
  opacity:.3;
}
h4{
  color:grey;
  font-size:24px;
  font-weight:400;
}
.content{
  width:100%;
  margin:0 auto;
  padding:0px;
  text-align:center;
}
.single-content img{
  width:290px;
  height:100%;
  margin:10px;
}
.filters{
  width:100%;
  text-align:center;
}
ul{
  list-style:none;
  padding:20px 0;
}
li{
  display:inline;
  padding:10px 25px;
  font-size:14px;
  color:#636363;
  font-weight:400;
  cursor:pointer;
  text-transform:uppercase;
  letter-spacing:.2em;
}
li:hover{
  color:#a6a6a6;
}
li:active{
  color:#ccc;
}
#about{
  grid-area:about;
  background-image:url('../images/random-image3.jpg');
  background-size:cover;
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  height:100vh;
  width:100%;
  color:#fff;
  /* color:grey; */
  /* color:#a6a6a6; */
}
#about p{
  font-size:1.3em;
  width:500px;

}
span{
  font-size:1.4em;

}
#contact{
  grid-area:contact;
  text-align:center;
  /* color:#a6a6a6; */
  background-color:maroon;
  color:#fff;
  /* color:#a6a6a6; */
  /* color:#fff; */
}
#contact h3{
  margin-bottom:100px;
  margin-top:70px;
  text-transform:uppercase;
}
#contact img{
  width:400px;
  height:300px;
  border-radius:20px;
}
#contact a{
  color:#fff;
  text-decoration:none;
}
#contact a:hover{
  text-decoration:underline;
}
footer{
  grid-area:footer;
  text-align:center;
  background-color:#333;
  color:#fff;
}
footer p{
  margin-top:35px;
}


@media(min-width:480px){

}
@media(min-width:760px){

}
