@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded');
body{
  font-family:'Encode Sans Expanded';
  margin:0;
}
section{
  background:url('../images/hero-area.jpg');
  background-size:cover;
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  height:100vh;
  width:100%;
  display:table;
}
.menu-btn{
  display:block;
  margin:1em;
  width:36px;
  position:fixed;
  top:0;
  left:0;
  cursor:pointer;
}
.menu-btn:before, .menu-btn:after{
  background-color:#fff;
  content:' ';
  display:block;
  height:4px;
  transition:all 200ms ease-in-out;
}
.menu-btn:before{
  box-shadow:0 10px 0 #fff;
  margin-bottom:16px;
}
.wrapper{
  overflow:hidden;
}
#header{
  /* padding:30px 30px 30px 80px; */
  -moz-transition:all 200ms ease-in;
  -webkit-transition:all 200ms ease-in;
  -o-transition:all 200ms ease-in;
  transition:all 200ms ease-in;
}
nav{
  position:fixed;
  top:0;
  left:0;
  width:250px;
  height:100%;
  margin:0 0 0 -250px;
  -moz-transition:all 200ms ease-in;
  -webkit-transition:all 200ms ease-in;
  -o-transition:all 200ms ease-in;
  transition:all 200ms ease-in;
}
nav ul{
  width:250px;
  height:100%;
  padding:0;
  margin:0;
  list-style:none;
  background:#333;
  overflow:hidden;
}
nav li{
  margin:0;
}
nav a{
  color:#fff;
  font-size:1em;
  text-decoration:none;
  display:block;
  padding:12px 12px;
  font-weight:300;
  letter-spacing:2px;
  border-bottom:1px solid #444;
}
nav a:hover{
  background:#111;
}
label{
  display:block;
  font-weight:700;
  background:transparent;
  width:42px;
  height:42px;
  color:green;
  text-align:center;
  position:fixed;
  line-height:1.1em;
  top:10px;
  left:10px;
  -moz-transition:all 400ms ease-in;
  -webkit-transition:all 400ms ease-in;
  -o-transition:all 400ms ease-in;
  transition:all 400ms ease-in;
  z-index:400;
}
input[type='checkbox']{
  display:none;
}
input[type='checkbox']:checked ~ nav{
  margin:0;
}
input[type='checkbox']:checked ~ label{
  left:260px;
}
input[type='checkbox']:checked ~ section{
  -webkit-transform:translate3d(260px,0,0);
  -moz-transform:translate3d(260px,0,0);
  -o-transform:translate3d(260px,0,0);
}
.active:before{
  box-shadow:0 0 0 #fff;
  transform:translateY(10px) rotate(45deg);
}
.active:after{
  transform:translateY(-10px) rotate(-45deg);
}
.site-title{
  position:fixed;
  top:20px;
  right:25px;
  font-size:2em;
  color:#fff;
  transition:.5s ease;
}
.title{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:3.6em;
  color:white;
}
.scrolled{
  color:orange;
  font-size:1em;
  top:20px;
}
#Works{
  width:100%;
  height:100vh;
  background-image:none;
  /* background-color:#36454f; */
  background-color:#444;
  color:white;
}
.facade-minimal{
  position:relative;
  margin:24px 0;
  padding:64px 16px 10px 16px;
  box-shadow:0px 5px 10px rgba(0,0,0,.1);
  color:#454545;
  border-radius:3px;
  overflow-x:hidden;
}
.macead-minimal:before{
  content:'';
  position:absolute;
  top:-1px;
  left:-1px;
  right:-1px;
  height:56px;
  border-bottom:1px solid rgba(0,0,0,.05);
  border-radius:3px 3px 0px 0px;
  background:url('data:image/svg+xml;charset=utf-8,<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" id="minimal-browser-button" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve"><g id="Ellipse_1"><g><circle fill-rule="evenodd" clip-rule="evenodd" fill="%23B3B3B3" cx="8" cy="8" r="5"/></g></g></svg>') 16px 22px no-repeat,
			url('data:image/svg+xml;charset=utf-8,<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" id="minimal-browser-button" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve"><g id="Ellipse_1"><g><circle fill-rule="evenodd" clip-rule="evenodd" fill="%23B3B3B3" cx="8" cy="8" r="5"/></g></g></svg>') 32px 22px no-repeat,
			url('data:image/svg+xml;charset=utf-8,<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" id="minimal-browser-button" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve"><g id="Ellipse_1"><g><circle fill-rule="evenodd" clip-rule="evenodd" fill="%23B3B3B3" cx="8" cy="8" r="5"/></g></g></svg>') 48px 22px no-repeat,
			url('data:image/svg+xml;charset=utf-8,<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" id="minimal-browser-settings" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve"><g id="Menu_icon"><g><path fill-rule="evenodd" clip-rule="evenodd" fill="%23B3B3B3" d="M1,1v3h14V1H1z M1,10h14V7H1V10z M1,16h14v-3H1V16z"/></g></g></svg>')  right 16px top 22px no-repeat,
			#e8e8e8;
}
.facade-minimal:after{
  content:attr(data-url);
  position:absolute;
  padding:2px 16px 0px 32px;
  top:16px;
  height:24px;
  left:80px;
  right:48px;
  border-radius:3px;
  box-shadow:inset 0 1px 1px -1px rgba(0,0,0,.5);
  font-size:12px;
  line-height:24px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  direction:rtl;
  text-align:left;
  background:url('data:image/svg+xml;charset=utf-8,<svg version="1.1" id="Refresh_icon_1_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve"><g id="minimal-browser-refresh"><g><path fill-rule="evenodd" clip-rule="evenodd" fill="%23B3B3B3" d="M12.5,10.9l2.5-3h-1.7C13.2,4.6,10.7,2,7.7,2C4.5,2,2,4.7,2,8c0,3.3,2.5,6,5.7,6c1.3,0,2.5-0.5,3.5-1.3l-1-1.1c-0.7,0.5-1.6,0.9-2.5,0.9c-2.3,0-4.2-2-4.2-4.5s1.9-4.5,4.2-4.5c2.3,0,4.2,1.9,4.2,4.4h-2L12.5,10.9z"/></g></g></svg>') 8px 6px no-repeat,
				#FFFFFF;
}
.rapper{
  margin-left:10%;
}
.rapper img{
  height:200px;
  width:300px;
}
.apper{
  margin-left:10%;
}
.apper img{
  height:300px;
}
.fbimage{
  height:;
  width:500px;
}
#About{
  background-image:url('../images/random-image3.jpg');
}
#About h3{
  text-align:center;
}
.text{
  /* background:rgba(255,255,255,.2); */
  color:white;
  padding:40px;
  font-size:1.5em;
}
#Contact{
  background-image:none;
}


@media(min-width:480px){

}
@media(min-width:760px){

}
