@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded');
body{
  font-family:'Encode Sans Expanded';
  margin:0;
}
section{
  background:url('../images/hero-area.jpg');
  background-size:cover;
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  height:100vh;
  width:100%;
  display:table;
}
.menu-btn{
  display:block;
  margin:1em;
  width:36px;
  position:fixed;
  top:0;
  left:0;
  cursor:pointer;
}
.menu-btn:before, .menu-btn:after{
  background-color:#fff;
  content:' ';
  display:block;
  height:4px;
  transition:all 200ms ease-in-out;
}
.menu-btn:before{
  box-shadow:0 10px 0 #fff;
  margin-bottom:16px;
}
.wrapper{
  overflow:hidden;
}
#header{
  /* padding:30px 30px 30px 80px; */
  -moz-transition:all 200ms ease-in;
  -webkit-transition:all 200ms ease-in;
  -o-transition:all 200ms ease-in;
  transition:all 200ms ease-in;
}
nav{
  position:fixed;
  top:0;
  left:0;
  width:250px;
  height:100%;
  margin:0 0 0 -250px;
  -moz-transition:all 200ms ease-in;
  -webkit-transition:all 200ms ease-in;
  -o-transition:all 200ms ease-in;
  transition:all 200ms ease-in;
}
nav ul{
  width:250px;
  height:100%;
  padding:0;
  margin:0;
  list-style:none;
  background:#333;
  overflow:hidden;
}
nav li{
  margin:0;
}
nav a{
  color:#fff;
  font-size:1em;
  text-decoration:none;
  display:block;
  padding:12px 12px;
  font-weight:300;
  letter-spacing:2px;
  border-bottom:1px solid #444;
}
nav a:hover{
  background:#111;
}
label{
  display:block;
  font-weight:700;
  background:transparent;
  width:42px;
  height:42px;
  color:green;
  text-align:center;
  position:fixed;
  line-height:1.1em;
  top:10px;
  left:10px;
  -moz-transition:all 400ms ease-in;
  -webkit-transition:all 400ms ease-in;
  -o-transition:all 400ms ease-in;
  transition:all 400ms ease-in;
  z-index:400;
}
input[type='checkbox']{
  display:none;
}
input[type='checkbox']:checked ~ nav{
  margin:0;
}
input[type='checkbox']:checked ~ label{
  left:260px;
}
input[type='checkbox']:checked ~ section{
  -webkit-transform:translate3d(260px,0,0);
  -moz-transform:translate3d(260px,0,0);
  -o-transform:translate3d(260px,0,0);
}
.active:before{
  box-shadow:0 0 0 #fff;
  transform:translateY(10px) rotate(45deg);
}
.active:after{
  transform:translateY(-10px) rotate(-45deg);
}
.site-title{
  position:fixed;
  top:20px;
  right:25px;
  font-size:2em;
  color:#fff;
  transition:.5s ease;
}
.scrolled{
  color:orange;
  font-size:1em;
  top:25px;
}
#About{
  width:100%;
  height:100vh;
  border:1px solid #eee;
  display:block;
  position:relative;
  overflow:hidden;
  background-color:#08aeea;
  background-image:linear-gradient(110deg, #08aeea 0%, #2af598 100%);
}
.top{
  display:block;
  height:100vh;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  transform:skewy(-8deg);
  opacity:.5;
  background-color:#08aeea;
  background-image:linear-gradient(90deg, #08aeea 0%, #27e28c 100%);
}
.bottom{
  display:block;
  height:100vh;
  width:100%;
  position:absolute;
  top:125px;
  left:0;
  transform:skewy(-8deg);
  opacity:.5;
  background-color:#2af598;
  background-image:linear-gradient(90deg, #07a2d6 0%, #2af598 100%);
}
#Works{
  background-image:url('../images/random-image3.jpg');
}
#Contact{
  background-image:none;
}


@media(min-width:480px){

}
@media(min-width:760px){

}
